body {
    background-color: LightBlue;
    font-family: Avant Garde;
}
.navBar {
    background-color: LightCyan ;
    height: 3vh;
    width: 100vw;
    border-radius: 5px;
    padding:2em;
}
.smGall {
    margin-top:2vh;
    float: left;
}
.smGall img {
    text-align: center;
    padding:3em 5.5em 3em 8em;
}
a {
    padding:0em 4em 0em 4em;
    text-decoration: none;
    font-size: 1.4em;
    color: MidnightBlue;
}
.bigPic {
    float:right;
}
p {
    clear: both;
}